@import url("https://unpkg.com/tippy.js@6/dist/tippy.css");
@import url("https://unpkg.com/tippy.js@6/themes/light.css" );

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
	font-size: 13px;
}
